[data-bs-theme="dark"] #theme-toggle-light-icon {
    display: inline-block;
}

[data-bs-theme="dark"] #theme-toggle-dark-icon {
    display: none;
}

[data-bs-theme="light"] #theme-toggle-light-icon {
    display: none;
}

[data-bs-theme="light"] #theme-toggle-dark-icon {
    display: inline-block;
}

.card {
    transition: all 0.3s ease;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.bi {
    color: var(--bs-primary);
}

.display-4 {
    margin-bottom: 1rem;
}

main {
    margin-bottom: auto;
}

.footer {
    background-color: var(--bs-body-bg);
}